@charset "utf-8";
html, body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body{
	position: fixed;
}
section{
		font-size: 10px;
}
#bg {
	z-index: -2;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}
#mapAdmin{
	width: 600px;
	min-height: 650px;
}