@charset "utf-8";
html, body{
	font-family: Impact, Charcoal, sans-serif;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body{
	background-image: url("/img/bg.jpg");
}
#question{
        z-index: 1;
        height: 50px;
        width: 50px;
        left: 5%;
        top: 0%;
        position: fixed;
}
#legenda{
  z-index: 2;
  background-color: rgba(255,255,255,0.66);
  padding: 1%;
  top: 5.7%;
  left: 5%;
  right: 2.5%;
  bottom: 85%;
  text-align: center;
  font-weight: bold;
  color: black;
  position: fixed;
}
.split {
  z-index: 1;
  top: 15%;
  height: 100%;
  width: 30%;
  position: fixed;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
#search{
    z-index: 2;
    position: fixed;
    right: 5%;
    top: 2%;
}
#head-title{
  z-index: 2;
  font-size: 16px;
  text-align: center;
  position: fixed;
  left: 10%;
  right: 10%;
}
#map{
  border: 6px solid #D7D7D7;
  position: fixed;
  height: 100%;
  width: 100%;
}
#infoDiv{
  z-index: 3;
  font-size: 12px;
  background-color: rgba(255,255,255,0.66);
  padding-top: 12px;
  padding-left: 12px;
  position: fixed;
  width: 38%;
  height: 79%;
  right:  2.5%;
  overflow: auto;
}
#speakButton{
  z-index:4;
  font-size: 11px;
  position: fixed;
  right: 5%;
}
footer{
  z-index: 2;
  background-color: rgba(255,255,255,0.66);
  font-size: 6px;
  text-align: center;
  position: fixed;
  left: 5%;
  right: 5%;
  bottom: 1%;
}
