@charset "utf-8";
html, body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
	width: 100%;15
	padding: 0;
	margin: 0;
}
body{
	position: fixed;
	padding-top: 1%;
	padding-left: 1%;
	color: #333;
}
legenda{
	background-color: rgba(255,255,255,0.66);
	padding: 15px;
	position: fixed;
	bottom: 15%;
	display: block;
	text-align: center;
	font-weight: bold;
	color: black;
	left: 29%;

}
section{
	min-height: 400px;
	margin: 4%;
	padding-bottom: 5%;
}
footer{
	z-index: 2;
	background-color: rgba(255,255,255,0.66);
	font-size: 8px;
	position: fixed;
	left: 20%;
	top: 90%;
}
img{
	white-space:pre;
}
#buttons{
	
	
}
#bg{
	z-index: -2;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}
#banner{
	z-index: 1;
	min-height: 10%;
	min-width: 10%;
	width: 20%;
	height: auto;
	position: fixed;
	top: 0;
	left:37%;
}
#question{
	z-index: 1;
	height: 50px;
	width: 50px;
	right: 32%;
	top: 0%;
	position: fixed;
}
#camera1{
	z-index: 1;
	min-height: 12%;
	min-width: 12%;
	width: 22%;
	left: 0;
	bottom: 0;
	position: fixed;
}
#camera2{
	z-index: 3;
	min-height: 12%;
	min-width: 12%;
	width: 22%;
	right: 0px;
	bottom: 0;
	position: fixed;
}
#map{
	border: 8px solid #D7D7D7;
	height: 600px;
	width: 90%;
	left: 7.5%;
}
