 @charset "utf-8";

html, body{
  font-family: Impact, Charcoal, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#legenda{
  z-index: 1;
  border-radius: 1.4rem;
  border: 4px solid #34504a;
  background-color: rgba(255,255,255,0.66);
  padding-top: 1rem;
  top: 0.5rem;
  left: 3.5rem;
  right: 0.2rem;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  color: black;
  position: fixed;
}
@media (max-width: 850px) {
    .icon-label {display: none;}
}
.split {
  z-index: 1;
  top: 4rem;
  position: fixed;
}

.right {
  right: 0;
}

.alert{
  z-index: 0;
  top: 2rem;
  left: 10rem;
  right: 80rem;
  height: 10rem;
  border-radius: 1rem;
  border: 4px solid #34504a;
  padding: 0.75rem 1.25rem;
}

.alert-danger h1{
  text-align: center;
}

.alert-danger{
  text-align: center;
}

.form-control{
  width: 75%;
  line-height: 1.5rem;
}

#search{
  z-index: 2;
  position: fixed;
  font-size: 0.7rem;
  right: 4rem;
  top: 3rem;
}

#head-title{
  z-index: 2;
  font-size: 15px;
  text-align: center;
  position: fixed;
  left: 10%;
  right: 10%;
}

#map{
  border: 0.4rem solid #D7D7D7;
  position: fixed;
  height: 100%;
  width: 100%;
}

#homeDiv{
  border-radius: 1rem;
  border: 4px solid #34504a;
  font-size: 0.7rem;
  background-color: rgba(255,255,255,0.66);
  padding-top: 1rem;
  padding: 0.3rem;
  top: 4rem;
  min-width: calc((99vw/2)*2);
  left: 0.3rem;
  overflow: auto;
  position: absolute;
}

#homeDiv h1{
  text-align: center;
}

#infoDiv{
  display: none;
  border-radius: 1rem;
  border: 4px solid #34504a;
  font-size: 0.7rem;
  background-color: rgba(255,255,255,0.66);
  padding-top: 1rem;
  padding-left: 0.5rem;
  top: 3rem;
  min-width: 24.8rem;
  max-height: 35rem;
  right: 0.2rem;
  overflow: auto;
  position: absolute;
}

#editDiv{
  border-radius: 1rem;
  border: 4px solid #34504a;
  font-size: 0.7rem;
  background-color: rgba(255,255,255,0.66);
  padding-top: 1rem;
  padding-left: 0.5rem;
  top: 2rem;
  min-width: 45rem;
  max-height: 40rem;
  right: 5.2rem;
  overflow: auto;
  position: absolute;
}

#picbox {
  display: block;
  position: relative;
}

#img{
  position: relative;
  border: 3px solid white;
}

#popup {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#popup img {
  border: 3px solid white;
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#popup-close {
  opacity: 0;
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: fixed;
  top: 80px;
  left: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 3;
}

#popup-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

#popup-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
 
#popup:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}
  
#popup:target img {
  position: fixed;
  display: block;
  background-color: #00000075;
  top: 0px;
  left: 0px;
  width: calc(100% - 0%);
  margin-left: auto;
  margin-right: auto;
  padding: calc( 85vh - 95%) calc(77vw - 60%);
  padding-bottom: 75%;
  overflow: auto;
}
  
#popup:target #popup-close {
  opacity:1;
  top: 0;
}

#close{
  position: absolute;
  right: 1rem;
  top: 0.3rem;
}

#speakButton{
    z-index:4;
    font-size: 10px;
}

#markerinfo{
    padding: 1rem,0,1rem;
}

footer{
    z-index: 0;
    border-radius: 1rem;
    border: 4px solid #34504a;
    background-color: rgba(255,255,255,0.66);
    font-size: 0.5rem;
    text-align: center;
    position: fixed;
    left: 0.5rem;
    right:  0.5rem;
    bottom: 2.3rem;
}
