.core/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
.core/app/storage/
.core/bootstrap/compiled.php
.core/bootstrap/cache/*
.core/composer.lock
.core/storage/*
.core/.env

/.vagrant
.core/.phpunit.result.cache

/images/*
/media/*
/img
.DS_Store
!/.gitignore
