.git*/
.AppleDouble/
.core/composer.lock
.core/node_modules
.core/storage/
.core/vendor
.core/.idea
.core/.vagrant
.core/Homestead.json
.core/Homestead.yaml
.core/npm-debug.log
.core/.env
.core/bootstrap/cache/*
.core/database/migrations/*
/images/*
/media/*
/img
